{% extends 'baseLayout.html' %}

{% block content %}
	<div class = "alll">
	<div class = "cp" >
		<div>
			Hello there, this section is all about my achievements in the world of Competitive Programming.
		<p>I hope, you like it :)</p>
		</div>

	</div>
	<div class = "points">
		<img src="/static/tick.png" height="25" width="25"> <span class = "gamora">Highest Rating on CodeChef : <span class = "bld">2066   <span class = "shift">
			<span class="fa fa-star checked"></span>
			<span class="fa fa-star checked"></span>
			<span class="fa fa-star checked"></span>
			<span class="fa fa-star checked"></span>
			<span class="fa fa-star checked"></span></span>
</span>   ~ <a href="https://www.codechef.com/users/cormen_1" target="_blank">Link</a></span>  
	</div>

	<div class = "points">
		<img src="/static/tick.png" height="25" width="25"> <span class = "gamora">Highest Rating on Codeforces : <span class = "bld">1721 ( Expert )</span> <span class = "shift">
			<span class="fa fa-circle checkeddd"></span>
			</span> ~ <a href="https://codeforces.com/profile/devarshi09" target="_blank">Link</a></span>  
	</div>

	<div class = "points">
		<img src="/static/tick.png" height="25" width="25"> <span class = "gamora">Best Global Rank in CodeChef Long Challenge : <span class = "bld">51</span></span>  
	</div>

	<div class = "points">
		<img src="/static/tick.png" height="25" width="25"> <span class = "gamora">Best Global Rank in CodeChef Cook Off : <span class = "bld">62</span></span>  
	</div>

	<div class = "points">
		<img src="/static/tick.png" height="25" width="25"> <span class = "gamora">Best Global Rank in CodeChef Lunchtime : <span class = "bld">16</span></span>  
	</div>

	<div class = "points">
		<img src="/static/tick.png" height="25" width="25"> <span class = "gamora">Global Rank in CodeChef IOI Moscow Contest : <span class = "bld">21</span></span>  
	</div>
	
	<div class = "points">
		<img src="/static/tick.png" height="25" width="25"> <span class = "gamora"> Team Rank in "Execute 2k19" Coding contest held on Hackerrank by JIIT : <span class = "bld">3</span></span>  
	</div>

	<div class = "points">
		<img src="/static/tick.png" height="25" width="25"> <span class = "gamora"> Team Rank in "AlgoFlux 2k19" Coding contest held on Codechef by JIIT : <span class = "bld">4</span></span>  
	</div>

	<div class = "points">
		<img src="/static/tick.png" height="25" width="25"> <span class = "gamora"> Team Rank in "Battle of Brains" Coding contest held on Codechef by ABES Engineering College : <span class = "bld">5</span></span>  
	</div>
	<div class = "points">
		<img src="/static/tick.png" height="25" width="25"> <span class = "gamora"> Won Multiple Inter-College Programming Competitions</span>  
	</div>
	<div class = "points">
		<img src="/static/tick.png" height="25" width="25" target="_blank"> <span class = "gamora">
			Solved <span class = "bld">1500+</span> Algorithmic and Mathematical problems on various Coding Platform : Codeforces, Codechef, Spoj, Atcoder, Hackerearth, Hackerrank. ~ <a href="https://www.stopstalk.com/user/profile/Devarshi09">Link</a>
		</span>  
	</div>
	</div>
{% endblock %}