{% extends 'baseLayout.html' %}

{% block content %}
	<div class = "allll">
	<div class = "cer" >
		<div>
			Welcome to the Certification section of my Portfolio _/\_
		</div>

	</div>
	<div class = "point">
		<img src="/static/bullet.png" height="25" width="25">  <span class = "yn">
			CodeChef Certified Data Structure and Algorithm Program <span class="ny">
				Advance Level 
			</span> 
		 ~ <a href="https://www.codechef.com/certificates/public/10e1453" target="_blank">Link</a></span>
	</div>
	<div class = "point">
		<img src="/static/bullet.png" height="25" width="25">  <span class = "yn">
			CodeChef Certified Data Structure and Algorithm Program <span class="ny">
				Foudation Level 
			</span> 
		 ~ <a href="https://www.codechef.com/certificates/public/203f779" target="_blank">Link</a></span>
	</div>
	<div class = "point">
		<img src="/static/bullet.png" height="25" width="25" >  <span class = "yn">
			CodeChef INOI Workshop <span class="ny">
				Volunteer Certificate 
			</span> 
		 ~ <a href="https://www.codechef.com/certificates/public/184d1af" target="_blank">Link</a></span>
	</div>
	<div class = "point">
		<img src="/static/bullet.png" height="25" width="25">  <span class = "yn">
			GeeksForGeeks <span class="ny">
				Internship Completion Certificate
			</span> 
		 ~ <a href="https://www.dropbox.com/s/tezkkq2by1lhi19/Devarshi%20Khanna.jpg?dl=0" target="_blank">Link</a></span>
	</div>
	<div class = "point">
		<img src="/static/bullet.png" height="25" width="25">  <span class = "yn">
			Udemy Certification <span class="ny">
				MySQL Course
			</span> 
		 ~ <a href="https://www.dropbox.com/s/yk9tuvbnjiio1p6/UC-ENUDO4CT.pdf?dl=0" target="_blank">Link</a></span>
	</div>
	<div class = "point">
		<img src="/static/bullet.png" height="25" width="25">  <span class = "yn">
			NPTEL Certification <span class="ny">
				Data Structures and Algorithms using Python 
			</span> 
		 ~ <a href="https://nptel.ac.in/noc/social_cert/noc18-cs21/NPTEL18CS21S23300751810048690.jpg" target="_blank">Link</a></span>
	</div>
	</div>
{% endblock %}