{% extends 'baseLayout.html' %}

{% block content%}
	<div class = "college text-white">
		<h2 class = "text-center">
			ABES Engineering College 
		</h2>

		<h3 class = "text-center">
			B.Tech | Information Technology 
		</h3>

		<h4 class = "text-center">
			(2016 - present)
		</h4>
	</div>	
	<div class = "college text-white">
		<h2 class = "text-center">
			St. John's School
		</h2>

		<h3 class = "text-center">
			XII - Science | Mathematics | Computer Science
		</h3>

		<h4 class = "text-center">
			(2014 - 2015)
		</h4>
	</div>	
	<div class = "college text-white">
		<h2 class = "text-center">
			St. John's School
		</h2>

		<h3 class = "text-center">
			X - Science | Mathematics | Computer Science
		</h3>

		<h4 class = "text-center">
			(2012 - 2013)
		</h4>
	</div>	
{% endblock %}