{% extends 'baseLayout.html' %}

{% block content %}

<section class = "exp bg-light">
		<div class = "container text-center">
		<!-- 	<h2 class = "lel">Languages I use for Competitive Programming</h2> -->
	<div class = "row">
		<div class = "col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto bg-white">
			<img src="/static/g4g.png" class = "card-img img-fluid">
			<div class = "card-body">
				<h3 class = "card-title">
					GeeksForGeeks
				</h3>
				<h5 class = "card-text">
					Technical Content Engineer Intern
				</h5>

				<h5 class = "card-text">
					March, 2019 - April, 2019
				</h5>
				
			</div>
		</div>
		
	
	</div>
</div>
	</section>
	<section class = "exp bg-light">
		<div class = "container text-center">
		<!-- 	<h2 class = "lel">Languages I use for Competitive Programming</h2> -->
	<div class = "row">
		<div class = "col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto bg-white">
			<img src="/static/cc.jpg" class = "card-img img-fluid">
			<div class = "card-body">
				<h3 class = "card-title">
					CODECHEF
				</h3>
				<h5 class = "card-text">
					Problem Setter
				</h5>

				<h5 class = "card-text">
					January, 2019 - Present
				</h5>
				
			</div>
		</div>
			</div>
</div>
	</section>
	<section class = "exp bg-light">
		<div class = "container text-center">
		<!-- 	<h2 class = "lel">Languages I use for Competitive Programming</h2> -->
	<div class = "row">
		<div class = "col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto bg-white">
			<img src="/static/enigma.jpg" class = "card-img img-fluid">
			<div class = "card-body">
				<h3 class = "card-title">
					Enigma Programming Club
				</h3>
				<h5 class = "card-text">
					Technical Head 
				</h5>

				<h5 class = "card-text">
					2017 - Present
				</h5>
				
			</div>
		</div>
		
	
	</div>
</div>
	</section>
{% endblock %}
