{% extends 'baseLayout.html' %}

{% block content %}

	<!-- <section class = "card bg-light"> -->
		<div class = "container text-center">
			<h2 class = "lel">Languages I use for Competitive Programming</h2>
	<div class = "row">
		<div class = "col-lg-3 col-md-3 col-sm-12 col-10 d-block m-auto ">
			<img src="/static/c++.png" class = "card-img img-fluid">
			<div class = "card-body">
				<h3 class = "card-title">
					C++
				</h3>
				<p class = "card-text">
					Rating : 5/5
				</p>
			</div>
		</div>
		<div class = "col-lg-3 col-md-3 col-sm-12 col-10 d-block m-auto ">
			<img src="/static/Python.svg" class = "card-img img-fluid">
			<div class = "card-body">
				<h3 class = "card-title">
					Python
				</h3>
				<p class = "card-text">
					Rating : 3/5
				</p>
			</div>
		</div>
	
	</div>
</div>
	<!-- </section> -->
	<!-- <section class = "card bg-light"> -->
		<div class = "container text-center">
			<h2 class = "lel">Problem Solving</h2>
	<div class = "row">
		<div class = "col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto">
			<img src="/static/ds.png" class = "card-img img-fluid">
			<div class = "card-body">
				<h3 class = "card-title">
					Data Structures
				</h3>
				<p class = "card-text">
					Rating : 4/5
				</p>
			</div>
		</div>
		<div class = "col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto">
			<img src="/static/Algo.jpg" class = "card-img img-fluid">
			<div class = "card-body">
				<h3 class = "card-title">
					Algorithms
				</h3>
				<p class = "card-text">
					Rating : 4/5
				</p>
			</div>
		</div>
	
	</div>
</div>
	<!-- </section> -->
	<!-- <section class = "card bg-light"> -->
		<div class = "container text-center">
			<h2 class = "lel">Frontend Web Technologies</h2>
	<div class = "row">
		<div class = "col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto">
			<img src="/static/htmlcss.jpg" class = "card-img img-fluid">
			<div class = "card-body">
				<h3 class = "card-title">
					HTML/CSS
				</h3>
				<p class = "card-text">
					Rating : 3/5
				</p>
			</div>
		</div>
		<div class = "col-lg-3 col-md-3 col-sm-12 col-10 d-block m-auto">
			<img src="/static/BS.svg" class = "card-img img-fluid">
			<div class = "card-body">
				<h3 class = "card-title">
					Bootstrap 
				</h3>
				<p class = "card-text">
					Rating : 3/5
				</p>
			</div>
		</div>


	
	</div>
</div>
	<!-- </section> -->
	<!-- </section> -->
	<!-- <section class = "card bg-light"> -->
		<div class = "container text-center">
			<h2 class = "lel">Backend Web Technologies</h2>
	<div class = "row">
		<div class = "col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto">
			<img src="/static/dj.png" class = "card-img img-fluid">
			<div class = "card-body">
				<h3 class = "card-title">
					Django
				</h3>
				<p class = "card-text">
					Rating : 4/5
				</p>
			</div>
		</div>
	
	</div>
</div>
	<!-- </section> -->
{% endblock %}